#text output/large datafiles
*.output 
*.input
*.weights

#compiled 
*.so
*.d
*.cxx
*.pyc

#virtualenv
env/

#File System Crap
*.DS_Store

#Old models and binaries related to progress
gan/performance/
old_models/
*.npy
*.root
